:root {
    --background-overlay: rgba(0, 0, 0, 0.3);
    --section-overlay: rgba(0, 0, 0, 0.3);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Arial";
    font-size: 20px;
    box-sizing: border-box;
}

.App {
    width:100%;
    height: 100vh;
    background-position: center;
}

.App>h1 {
    background-size: cover;
    font-size: 40px;
    font-weight: bold;
}

.overlay {
    background-color: var( --background-overlay);
    width: 100%;
    height: 100vh;
}

.container {
    display: flex;
    max-width: 800px;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 2rem;
}

.section {
    width: 100%;
    color: white;
    padding: 2rem
}

.section_input, .section_temp {
    background-color: var( --section-overlay);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    border-radius: .3rem;
    margin: 80px;
}

.section_input>input:focus {
    outline: none;
}

.section_input>input {
    border: 1px solid #b6b6b6;
    border-radius: .3rem;
    background-color: transparent;
    font-size: 25px;
    padding-left: 5px;
    color: white;
}


.section_input>button {
    font-size: 20px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: .3rem;
    padding: 5px 10px;

}
.section_input>button:hover {
    background-color: #847ba8;
    cursor: pointer;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

/*.icon>h3 {
    front-size: 100px;
    font-weight: bold;
}*/

.temp {
    font-size: 50px;
}